/*Title*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
/*Subtitle*/
@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');

h2{
    font-family: "Playfair Display SC", serif;
    font-weight: 700;
    font-style: normal;
    color: rgb(0, 0, 0);
}

.sectionNumber1{
    background-color: rgb(213, 213, 213);
    display: flex;
    justify-content: space-evenly;   
    flex-direction: row;
    column-gap: 0;
    padding:100px;
}

.sectionNumber1 .infoTopic{
    text-align: center;
    width: auto;
}

.informationTopic{
    margin-top: 40px;
    display: flex;
    width: auto;
    justify-content: space-around;
}

.infoTopic .iconInfo{
    font-size: 100px;
}

.infoTopic .iconInfo:hover{
    color: rgb(98, 98, 98);
    transition: all ease 0.3s;
}

.infoTopic .descriptionTopic{
    margin-top: 30px;
    text-align: center;
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
    font-size: larger;
}

.infoTopic .mainTopic{
    font-family: "Playfair Display SC", serif;
    font-style: normal;
    font-weight: 700;
    font-size: medium;
}

.infoTopic .mainTopic:hover{
    transition: all ease 0.3s;
    color: rgb(98, 98, 98);
    text-decoration: underline;
}

.sectionNumber2{
    padding: 100px;
    text-align: center;
}

.sectionNumber2 .contactMessage{
    text-align: center;
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
    font-size: larger;
}

.sectionNumber2 .formTitle{
    font-family: "Playfair Display SC", serif;
    font-weight: 700;
    font-style: normal;
    margin: 70px;
}

.sectionNumber2 .formContact{
    display: flex;
    justify-content: space-evenly;
}

.containerFormContact{
    margin-top: -40px;
}

.containerFormContact .fields{
    width: 90%;
    height: 30px;
    margin-top: 30px;
    padding: 10px;
    border: none;
    font-family: "Alice", serif;
    font-weight: 600;
    border-bottom: 1px solid black;
}

.containerFormContact .fieldsArea{
    width: 90%;
    height: 100px;
    margin-top: 50px;
    padding: 10px;
    border: none;
    font-family: "Alice", serif;
    font-weight: 400;
    border-bottom: 1px solid black;
}

.formContact .modelImage{
    height: 80%;
    margin-top: 10px;
    width: 31%;
    box-shadow: 4px 4px 4px gray;
}

.containerButtons{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 40px;
}

.containerButtons .buttonContact{
    background-color: rgb(54, 54, 54);
    color: white;
    padding: 25px;
    font-family: "Playfair Display SC", serif;
    font-style: normal;
    font-weight: 800;
    margin: 10px;
    font-style: normal;
    border-radius: 10%;
    transition: all;
    border: none;
}   

.containerButtons .buttonContact:hover{
    transition: all ease-in 0.3s;
    background-color: white;
    color: black;
    border-bottom: 1px solid black;
}

@media (max-width:900px) {
    .sectionNumber1{
        flex-direction: column;
        padding: 50px;
    }
    
    .modelImage{
        display: none;
    }    

    .sectionNumber2 .formTitle{
        margin: 45px;
    }

    .sectionNumber2{
        padding: 50px;
    }
    .sectionNumber1 .infoTopic{
        width: auto;
    }
    .infoTopic .descriptionTopic{
        text-align: center;
    }
    .informationTopic{
        margin-top: 10px;
        flex-direction: column;
    }

    .infoTopic .mainTopic{
        margin-top: 20px;        
    }
}